In [1]:
# importing pandas module
import pandas as pd
# Define a dictionary containing employee data
data1 = {'Name':['Jai', 'Anuj', 'Jai', 'Princi','Gaurav', 'Anuj', 'Princi', 'Abhi'],
         'Age':[27, 24, 22, 32,33, 36, 27, 32],
         'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj','Jaunpur', 'Kanpur',
                   'Allahabad', 'Aligarh'],
         'Qualification':['Msc', 'MA', 'MCA', 'Phd','B.Tech', 'B.com', 'Msc', 'MA']}
# Convert the dictionary into DataFrame
df = pd.DataFrame(data1)
print(df)

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1    Anuj   24     Kanpur            MA
2     Jai   22  Allahabad           MCA
3  Princi   32    Kannuaj           Phd
4  Gaurav   33    Jaunpur        B.Tech
5    Anuj   36     Kanpur         B.com
6  Princi   27  Allahabad           Msc
7    Abhi   32    Aligarh            MA

In [2]:
df.groupby('Name')
print(df.groupby('Name').groups)

{'Abhi': [7], 'Anuj': [1, 5], 'Gaurav': [4], 'Jai': [0, 2], 'Princi': [3, 6]}

In [3]:
gk=df.groupby(['Name'],sort=False)        ##false?
print(gk.first())

        Age  Address Qualification
Name
Jai      27   Nagpur           Msc
Anuj     24   Kanpur            MA
Princi   32  Kannuaj           Phd
Gaurav   33  Jaunpur        B.Tech
Abhi     32  Aligarh            MA

In [5]:
for x,y in gk:             #########
    print(x)
    print()
    print(y)

('Jai',)

  Name  Age    Address Qualification
0  Jai   27     Nagpur           Msc
2  Jai   22  Allahabad           MCA
('Anuj',)

   Name  Age Address Qualification
1  Anuj   24  Kanpur            MA
5  Anuj   36  Kanpur         B.com
('Princi',)

     Name  Age    Address Qualification
3  Princi   32    Kannuaj           Phd
6  Princi   27  Allahabad           Msc
('Gaurav',)

     Name  Age  Address Qualification
4  Gaurav   33  Jaunpur        B.Tech
('Abhi',)

   Name  Age  Address Qualification
7  Abhi   32  Aligarh            MA

In [6]:
print(gk.get_group('Jai'))

  Name  Age    Address Qualification
0  Jai   27     Nagpur           Msc
2  Jai   22  Allahabad           MCA