In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
print(pd.__version__)

2.0.3

In [4]:
# Series(1d)
import pandas as pd 
a=[1,2,3,4]
s=pd.Series(a)
print(s)
print(type(s))

0    1
1    2
2    3
3    4
dtype: int64
<class 'pandas.core.series.Series'>

In [6]:
import pandas as pd
a=[[1,2],[3,4]]
s=pd.Series(a)
print(s)
print(type(s))
print(s[0])

0    [1, 2]
1    [3, 4]
dtype: object
<class 'pandas.core.series.Series'>
[1, 2]

In [8]:
import pandas as pd
a=[[1,2],[3,4]]
s=pd.Series(a,index=['abc','xyz'])
print(s)
print(type(s))
print(s[0])
print(s['xyz'])

abc    [1, 2]
xyz    [3, 4]
dtype: object
<class 'pandas.core.series.Series'>
[1, 2]
[3, 4]

In [9]:
import pandas as pd
a={'name':['abc'],'age':[20]}
s=pd.Series(a)
print(s)

name    [abc]
age      [20]
dtype: object

In [10]:
# Dataframe(2d)
a=[1,2,3,4,5]
s=pd.DataFrame(a)
print(s)

   0
0  1
1  2
2  3
3  4
4  5

In [11]:
a=[[1,2,3],[4,5,6]]
s=pd.DataFrame(a)
print(s)

   0  1  2
0  1  2  3
1  4  5  6

In [18]:
a=[[1,2,3],[4,5,6]]
s=pd.DataFrame(a,index=['day1','day2'],columns=['a','b','c'])
print(s)
print(s.loc['day1'])
print(s.iloc[0])

      a  b  c
day1  1  2  3
day2  4  5  6
a    1
b    2
c    3
Name: day1, dtype: int64
a    1
b    2
c    3
Name: day1, dtype: int64

In [19]:
a=[[1,2,3],[4,5,6]]
s=pd.DataFrame(a,index=['day1','day2'],columns=['a','b','c'])
print(s)
print(s.loc[['day1','day2']])
print(s.iloc[0])

      a  b  c
day1  1  2  3
day2  4  5  6
      a  b  c
day1  1  2  3
day2  4  5  6
a    1
b    2
c    3
Name: day1, dtype: int64

In [21]:
a=[[1,2,3],[4,5,6]]
s=pd.DataFrame(a,index=['day1','day2'],columns=['a','b','c'])
print(s[['b','c','a']])
print(s['a'])

      b  c  a
day1  2  3  1
day2  5  6  4
day1    1
day2    4
Name: a, dtype: int64

In [22]:
# csv (coma seperated value)
# json, csv and xml se file ka data milta h

In [24]:
df=pd.read_csv('WEATHER.csv')